$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$hover-button-color: #188ce8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$fluoric-background-color: #2f303a;
$fone-comand-color: #f5f4fa;
$icon-fill: #afb1b8;
$logo-studio-color: #000000;

$time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
