.logo {
  &__descent {
    color: $accent-color;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;

    transition: color 250ms $time-distribution;
  }

  &__text--inverse {
    transition: color 250ms $time-distribution;
    color: $white-color;
  }
}

.container-footer {
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: baseline;
  }
}

.footer {
  padding: 60px 0;
  background: $fluoric-background-color;

  &__section {
    margin: 0 auto;
  }

  &__nav-contact {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__nav {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 61px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__address {
    margin-top: 20px;
  }

  &__contacts {
    padding: 0;
    margin: 0;
  }

  &__input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

    text-decoration: none;

    margin: 0;
  }

  &__input:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  &__input--location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 9px;

    text-decoration: none;
    color: $white-color;
  }

  &__maps {
    color: $white-color;
    font-style: normal;
    margin-bottom: 9px;
  }

  &__maps:hover,
  &__maps:focus {
    color: $accent-color;
  }

  &__link {
    color: $footer-contacts-color;
    text-decoration: none;
    font-size: 14px;

    transition: color 250ms $time-distribution;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__content {
    flex-direction: column;
    display: flex;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-right: 74px;
    }
  }

  &__subscription {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      align-items: center;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
    color: $white-color;
  }
}

/* ---------------------------------------------------------------ПРИСОИДЕНЯЙТЕСЬ ФУТЕР---------------------------------------------*/

.net {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;

  &__item {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link--color {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    text-align: center;
    align-items: center;

    border-radius: 50%;

    outline: none;
    fill: $white-color;
    transition: background-color 250ms $time-distribution, fill 250ms $time-distribution;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__link--color:hover,
  &__link--color:focus {
    background-color: $accent-color;
    fill: $white-color;
  }
}

/* -----------------------------------------------------ПОДПИСАТЬСЯ--------------------------------- */
.subscription {
  &__label {
    @media screen and (max-width: 767px) {
      display: block;
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    height: 50px;
    padding: 15px 15px;
    cursor: pointer;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: $white-color;
    background-color: transparent;
    transition: box-shadow 250ms $time-distribution, border-color 250ms $time-distribution;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }

  &__input:focus,
  &__input:hover {
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-color: $accent-color;
  }

  &__button {
    background: $accent-color;
    color: $white-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: 1px;

    height: 50px;
    min-width: 200px;
    transition: background 250ms $time-distribution;

    @media screen and (max-width: 1199px) {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__icon {
    margin-left: 10px;
  }
}
